parameters:
    level: 5
    paths:
        - app
        - src
    ignoreErrors:
        - '#Variable \$\w+ might not be defined\.#'
    excludePaths:
        - app/views/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false